@import '../../index.scss';

.logo{
	fill: $secondary;
	cursor: pointer;
	&.loading, &:hover{
		animation-name: colorChange;
		animation-duration: 0.6s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: both;
		animation-iteration-count: infinite;
		.mover{
			animation-name: mover;
			animation-duration: 1.2s;
			animation-timing-function: ease-in-out;
			animation-fill-mode: both;
			animation-iteration-count: infinite;
		}
		&.loader{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
